body {
  background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
  font-family: Arial;
  color: white;
  text-align: center;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
  width: 50%;
  margin: auto;
  box-shadow: 0 0 20px cyan;
}

.option {
  display: block;
  padding: 10px;
  margin: 8px;
  background: #111;
  border-radius: 10px;
  cursor: pointer;
}

.option:hover {
  background: cyan;
  color: black;
  transform: scale(1.05);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: lime;
  cursor: pointer;
  font-size: 16px;
}
