<!DOCTYPE html>
<html>
<head>
  <title>{{ subject }} Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
  <h2>{{ subject }}</h2>
  <h3>{{ question.q }}</h3>

  <form method="post">
    {% for opt in question.options %}
      <label class="option">
        <input type="radio" name="answer" value="{{ opt }}" required>
        {{ opt }}
      </label>
    {% endfor %}

    <p><b>Hint:</b> {{ question.hint }}</p>
    <p>Score: {{ score }}</p>

    <button type="submit">Next</button>
  </form>
</div>

</body>
</html>
